@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

.section.site-header {
    margin-bottom: 2em;
}

.section.site-header .inner {
    display: flex;
    padding: 4em 0 2em;
    align-items: center;
}

.section.site-header .site-branding {
    display: flex;
    align-items: center;
    gap: 2em;
}

.section.site-header .site-title {
    background: #57A390;
    line-height: 1;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    color: white;
    font-size: 3em;
    font-family: 'Oleo Script', sans-serif;
    font-weight: normal;
}

.section.site-header .site-desc {
    font-weight: bold;
}

.section.site-header nav {
    margin-left: auto;
}

.section.site-header nav ul {
    display: flex;
    gap: 2em;
    padding-bottom: 0;
}

.section.site-header nav a,
.section.site-header nav li {
    display: block;
}

.section.site-header nav a {
    color: #696969;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    text-decoration: none;
    font-weight: bold;
}

.section.site-header nav li.active a {
    background: #444;
    color: white;
}

.section.banner {
    margin-bottom: 4em;
}

.section.banner .inner {
    background: #fff;
    border-radius: 0.5em;
    padding: 4em;
    display: flex;
    gap: 4em;
}

.section.banner .text {
    flex: 0 1 60%;
}

.section.banner .text h2 {
    font-size: 5em;
    line-height: 1;
}

.section.banner .text p {
    font-size: 4em;
    line-height: 1;
    font-weight: 100;
    padding: 0;
}

.section.banner .buttons {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section.banner .buttons .button {
    display: flex;
    justify-content: space-between;
    font-size: 3em;
    font-weight: bold;
    line-height: 1;
    background: #F2F2F2;
    border-radius: 0.3rem;
    text-decoration: none;
    color: #444;
    padding: 2rem 2.5rem;
}

.section.banner .buttons .button.primary {
    background: #0090C5;
    color: #fff;
}

.section.cards {
    margin-bottom: 4em;
}

.section.cards .inner {
    display: flex;
    gap: 2em;
}

.section.cards .card {
    overflow: hidden;
    border-radius: 0.5em;
    background: #fff;
}

.section.cards p {
    font-weight: 100;
    line-height: 1.8;
    opacity: 0.7;
}

.section.cards .card-header {
    padding: 3em 2.5em 0;
}

.section.cards .card-header h3 {
    font-size: 1.4em;
    line-height: 1;
}


.section.cards .card-content {
    padding: 0 2.5em;
    padding-bottom: 3em;
}

.section.call-to-action {
    background: white;
    margin-bottom: 4em;
}

.section.call-to-action .inner {
    display: flex;
    gap: 4em;
    padding: 2em 0;
}

.section.call-to-action h3 {
    font-size: 2em;
}

.section.call-to-action h4 {
    font-size: 1.5em;
}

.section.call-to-action .aside {
    flex: 0 0 30%;
}

.section.call-to-action .aside ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0;
    margin: 2em 0;
}

.section.call-to-action .aside li {
    flex: 1 1 40%;
    display: block;
    overflow: hidden;
    border-radius: 0.5em;
}

.section.site-footer {

}

.section.site-footer .columns {
    display: flex;
    gap: 2em;
}

.section.site-footer .columns .column {
    flex:  1 1 25%;
}

.section.site-footer .column a {
    color: #696969;
}

.section.site-footer .inner > p:last-child {
    text-align: center;
    font-weight: bold
}

.socials {
    display: flex;
}
.socials li {
    display: block;
}

.socials a {
    display: block;
    padding: 1em;
}