div {
    border: 2px solid black;
    margin-bottom: 2em;
}

div.uniform {
    padding: 20px;
}

div.non-uniform {
    padding: 10px 30px 20px 40px;
}

div.percentage {
    padding: 5%;
}
/* · Add classes to each div element for each type of padding

1. First element – Uniform padding

§ padding: 20px;

2. Second element – Non-Uniform Padding

§ padding: 10px 30px 20px 40px;

· order is – top, right, bottom, left

3. Third element – Percentage Padding

§ padding: 5%;

· in this scenario the % value is derived from the width of the element */