div {
    width: 300px;
    padding: 20px;
    border: 5px solid #333;
    margin-bottom: 20px;
    background-color: #eee
}


div.content-box {
    box-sizing: content-box;
}

div.border-box {
    box-sizing: border-box;
}



/* 


Apply the following classes to all div elements

1. Width – 300px

2. Padding – 20px

3. Border – 5px solid #333

4. Margin Bottom – 20px

5. Background - #eee

· Add classes for the 2 values of box-sizing and apply the following styles:

1. Content-box

1. Box-sizing – content-box

2. Border-box

1. Box-sizing – border-box */